/* 🌍 Global Styles */
:root {
  /* 🎨 Colors*/
  --primary-color: orange;
  --secondary-color: #333333;
  --white: white;
  --project-color: #eeeeee;
  --testimonials-color: #f9f9f9;
  --accent-color: darkorange;

  /* 🖼️ General formats */
  --border-radius: 5px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  /* 📝 Typography */
  --h1-size: 1.375em; /* 22px */
  --h2-size: 1.25em; /* 20px */
  --h3-size: 1em; /* 16px */
  --text-size: 0.875em; /* 14px */
  --lead-text-size: 1.625em; /* 26px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  text-align: center;
}

section {
  margin-bottom: 30px;
}

main {
  padding: 1.5em;
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

p,
a {
  font-size: var(--text-size);
}

/* 🏠 Header */
header {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px 25px;
  position: sticky;
  top: 0;
  box-shadow: var(--box-shadow);
  z-index: 1000;
}

header h1 {
  font-size: var(--h1-size);
  color: white;
}

header nav {
  display: flex;
  gap: 1.5em;
}

header nav a {
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

header nav a:hover {
  color: var(--primary-color);
}

/* 🚀 Hero Section */
#hero {
  color: var(--white);
  background-color: var(--primary-color);
  padding: 40px 30px;
}

#hero .caption {
  font-size: var(--h1-size);
}

#hero a {
  display: inline-block;
  color: var(--primary-color);
  background-color: var(--white);
  font-weight: bold;
  text-decoration: none;
  border-radius: var(--border-radius);
  padding: 0.4em 1em;
  margin-top: 5px;
  transition: background 0.3s ease-in-out;
}

#hero a:hover {
  color: var(--white);
  background-color: var(--secondary-color);
}

/* 👤 About Section */
#about {
  margin-bottom: 50px;
}

/* 📁 Projects Section */
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.project {
  background-color: var(--project-color);
  border-radius: var(--border-radius);
  padding: 15px;
  box-shadow: var(--box-shadow);
  flex-basis: 230px;
}

.project:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;
}

/* 🎞️ Slider Section */
#testimonials {
  background-color: var(--testimonials-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 30px 0 40px 0;
}

#testimonials .caption {
  font-size: var(--lead-text-size);
}

.slider {
  transition: transform 0.5s ease-in-out;
  display: flex;
}

.slide {
  box-sizing: border-box;
  min-width: 100%;
  opacity: 0.7;
}

.slider img {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 35px 0 10px;
}

.slide q {
  display: block;
  max-width: 50%;
  margin: auto;
  font-weight: 500;
}

.slide cite {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

/* 🎛️ Slider Controls */
.slider-controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slider-controls button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: inherit;
  margin: 0 5px;
  border-radius: var(--border-radius);
  transition: background 0.3s ease-in-out;
}

.slider-controls button:hover {
  background: var(--accent-color);
}

/* 📞 Contact Section */
form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}

input,
textarea {
  padding: 15px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: var(--border-radius);
  font-size: var(--h3-size);
}

input[type="submit"] {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white);
  font-size: var(--text-size);
  transition: background 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: var(--accent-color);
}

/* 🔚 Footer Section */
footer {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  box-shadow: var(--box-shadow);
}

/* 📱 Responsive Design */

@media screen and (max-width: 788px) {
  header nav {
    gap: 1em;
  }

  .project {
    flex-grow: 1;
  }
}
